parameters:
    level: 6
    paths:
        - src
        - tests
        - bootstrap.php
        - devtools.php
        - bin/phalcon-kit
        - bin/websocket
        - public/index.php
    scanDirectories:
        - vendor/swoole/ide-helper/src/swoole
    tmpDir: .phpstan.cache
    treatPhpDocTypesAsCertain: false
